.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.page-item.active .page-link {
  color: #fff;
  background-color: #211e1e;
  cursor: auto;
  border-color: #7391a8;

}
.btn {
  margin-left: 5px;
}

.a-title {
  color: black;
  text-decoration-line: none;
}

.shipping{
  color:green;
}